* {
    box-sizing: border-box;
}

body {
    background-image: url(./background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#content {
    height: 100%;
}

#navbar {
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    border-bottom: 5px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-btn {
    margin-left: 50px;
    margin-right: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.nav-btn:hover {
    color: #FFC72C;
    transition: 0.3s;
    transform: scale(1.1);
}

.nav-btn.active {
    color: #FFC72C;
    transform: scale(1.1);
    text-decoration: underline;
}

.info-box {
    color: white;
    border: 5px solid white;
    margin: 10px;
    padding: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero {
    font-size: 5em;
    width: 700px;
    height: 300px;
}

#hours, #location {
    font-size: 1.8em;
    padding: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
}

#menu-container, #contact-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

#top-container {
    display: flex;
    flex: 1;
    /*border: 1px solid red;*/
}

#bottom-container {
    display: flex;
    flex: 2;
}

#top-container {
    justify-content: center;
    align-items: center;
}

#bottom-container {
    justify-content: space-around;
    align-items: flex-end;
}

#menu-box, #contact-box {
    width: 700px;
}

#menu {
    color: #fff;
}
  

#menu h2 {
    font-size: 2rem;
    border-bottom: 2px solid #FFC72C;
    padding-bottom: 0.5rem;
}
  

#menu ul {
    list-style-type: none;
    padding-left: 0;
}
  
#menu li {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
  
#menu li::before {
    content: "•";
    margin-right: 8px;
}